body {
    margin: 0;
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
}

#gameboard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 30rem;
    width: 30rem;
    margin: auto auto;
}

#path {
    background-color: rgb(5, 5, 105);
    color: white;
    margin-left: 4rem;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}

.white-cell {
    background-color: white;
    border: 2px solid black;
}

.black-cell {
    background-color: black;
    border: 2px solid black;
}

img {
    margin: 0.07rem 0 0 0.5rem;
    width: 65%;
    height: 90%;
}